@charset "UTF-8";

:root {
    --alfa: white;
    --beta: black;
}

@media only screen and (min-width: 768px) {

    main {
        background-image: radial-gradient(circle, rgb(254, 207, 161), #6b4726);
    }

    main > section {
        width: 90%;
        height: 300px;
    }

    main > section > div {
        display: inline-block;
    }

    main > section > #id_form > h1 {
        font-size: 2em;
    }

    main > section > #id_form > p {
        font-size: 1.2em;
    }

    main > section > #id_div_img {
        float: right;
        width: 40%;
        height: 100%;
    }

    main > section > #id_form {
        float: left;
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {
    main > section {
        max-width: 930px;
    }

    main > section > #id_div_img {
        float: left;
        width: 50%;
    }

    main > section > #id_form {
        float: right;
        width: 50%;
    }
}